* {
	font-family: lato;
}

/* hamburger menu */

.navbar-toggle {
  width: 30px;
  height:30px;
  cursor: pointer;
  padding: 5px;
  display: none;
}

span {
  background-color: black;
  width:30px;
  height: 3px;
  display: block;
  border-radius: 20%;
  transition:0.25s;
}

span:nth-child(2) {
  margin:7px 0;
}

.animate span:nth-child(1) {
  transform: translateY(10px)   rotate(45deg);
  background-color: #ff0000;
}

.animate span:nth-child(2) {
  opacity: 0;
}

.animate span:nth-child(3) {
  transform: translateY(-10px)   rotate(-45deg);
  background-color: #ff0000;
}

/* hamburger menu end */

.nav-navbar {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ff0000;
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
}

.navbar-menu {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding: 0 10px;
}

.header-logo {
	max-width: 200px;
	padding: 45px 0px;
}


.navbar-menu-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	margin: 0;
}

.navbar-menu-list li {
	list-style-type: none;
	padding: 50px 18px;
}

.navbar-menu-list li:last-child {
	padding-right: 70px;
}

.navbar-menu-list li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	padding: 10px;
	font-weight: 600;
}

.navbar-menu-list li a:hover {
	color: #ff0000;
}

.blur {
	background:  linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ), url("./img/handshake.png") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
}

.main-bio {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	padding: 30px 10px;
	margin: 0;
	font-weight: 900;
}

.profession {
	font-size: 40px;
	text-transform: uppercase;
	padding: 20px 10px;
	margin: 0;
	font-weight: lighter;
}

.skills {
	height: 100vh;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
}

.skill-list {
	padding: 20px;
	margin: auto;
	line-height: 2.1;
	max-width: 800px;
	font-weight: 300;
}

.scroll-button {
	display: flex;
	justify-content: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%);
}

.scroll-button a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #000000;
}

.fa-angle-double-down {
	text-align: center;
}

/* footer */

.footer-info {
	background-color: #ffffff;
	width: 100%;
}

.social-icons {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #ff0000;
}

.social-icons a {
	color: #000000;
}

.fab {
	padding: 10px;
}

.fab.fa-facebook.fa-2x:hover {
	color: #3B5998;
}

.fab.fa-facebook-messenger.fa-2x:hover {
	color: #0084FF
}

.copyright {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
	box-sizing: border-box;
}

/* about content */

.about-content {
	text-align: center;
	padding: 15px;
}

.about-info {
	padding: 20px;
	margin: auto;
	line-height: 2.1;
	max-width: 800px;
	font-size: 19px;
	text-align: justify;
	font-weight: 300;
}

/* offer content */

.offer-content {
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;
}

.offer-content li {
	list-style-type: none;
}

.offer-info {
	display: flex;
	justify-content: space-around;
}

.offer-info-clients p {
	padding: 20px;
	font-size: 15px;
	font-weight: 700;
}

.offer-info-clients ul {
	padding: 15px 5px;
}

.offer-info-clients li {
	padding: 10px;
	font-weight: 300;
}


@media screen and (max-width: 995px) {

	.container {
		position: relative;
	}

	.nav-navbar {
		display: block;
		background-color: #ffffff;
		width: 100%;
		position: fixed;
	}

	.navbar-collapse {
		display: none;
	}

	.collapse-in {
		display: block;
	}

	.navbar-toggle {
		display: inline-block;
		margin: 25px 15px;
	}

	.header-logo {
		max-width: 170px;
		padding: 32px 0px;
	}

	.navbar-menu-list {
		flex-direction: column;
		padding: 0px;
		text-align: center;
	}

	.navbar-menu-list li {
		padding: 20px 10px;
	}

	.navbar-menu-list li:last-child {
		padding-right: 0px;
	}

	.skill-list {
		font-size: 15px;
	}

	.scroll-button {
		font-size: 15px;
	}

	/* about css */

	.about-info {
		font-size: 15px;
		padding: 5px;
	}

	/* offer content */

	.offer-info {
		flex-direction: column;
	}


}
	





