* {
	font-family: lato;
}

/* hamburger menu */

.navbar-toggle {
  width: 30px;
  height:30px;
  cursor: pointer;
  padding: 5px;
  display: none;
}

span {
  background-color: black;
  width:30px;
  height: 3px;
  display: block;
  border-radius: 20%;
  transition:0.25s;
}

span:nth-child(2) {
  margin:7px 0;
}

.animate span:nth-child(1) {
  transform: translateY(10px)   rotate(45deg);
  background-color: #ff0000;
}

.animate span:nth-child(2) {
  opacity: 0;
}

.animate span:nth-child(3) {
  transform: translateY(-10px)   rotate(-45deg);
  background-color: #ff0000;
}

/* hamburger menu end */

.nav-navbar {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ff0000;
}

.navbar-menu {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding: 0 10px;
}

.header-logo {
	max-width: 200px;
	padding: 45px 0px;
}


.navbar-menu-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	margin: 0;
}

.navbar-menu-list li {
	list-style-type: none;
	padding: 50px 18px;
}

.navbar-menu-list li:last-child {
	padding-right: 70px;
}

.navbar-menu-list li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	padding: 10px;
	font-weight: 600;
}

.navbar-menu-list li a:hover {
	color: #ff0000;
}

.main-content {
	
}

.blur {
	background: url("./img/handshake.png") no-repeat center center fixed;
	background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    z-index: -2;
    position: fixed;
}

.main-bio {
	box-sizing: border-box;
	padding: 10px;
	padding-top: 150px;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255,255,255,0.6);
    z-index: -1;
  
}

.footer-info {
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	bottom: 0;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
}

.profession {
	font-size: 40px;
	text-transform: uppercase;
}

.skill-list {
	padding: 0;
}

.skill-list li {
	padding: 10px;
	list-style-type: none;
}

.social-icons {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #ff0000;
}

.social-icons a {
	color: #000000;
}

.fab {
	padding: 10px;
}

.fab.fa-facebook.fa-2x:hover {
	color: #3B5998;
}

.fab.fa-facebook-messenger.fa-2x:hover {
	color: #0084FF
}

.copyright {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
	box-sizing: border-box;
}



@media screen and (max-width: 995px) {

	.container {
		position: relative;
	}

	.nav-navbar {
		display: block;
		background-color: #ffffff;
		width: 100%;
		position: fixed;
	}

	.navbar-collapse {
		display: none;
	}

	.collapse-in {
		display: block;
	}

	.navbar-toggle {
		display: inline-block;
		margin: 25px 15px;
	}

	.header-logo {
		max-width: 170px;
		padding: 32px 0px;
	}

	.navbar-menu-list {
		flex-direction: column;
		padding: 0px;
		text-align: center;
	}

	.navbar-menu-list li {
		padding: 20px 10px;
	}

	.navbar-menu-list li:last-child {
		padding-right: 0px;
	}


}
	





